<!DOCTYPE html>
<html ng-app='Tasks'>
<head>
  <title>Angularlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js' %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='content'>
    <% if notice %> <p class="notice"><%= notice %></p> <% end %>
    <% if alert %> <p class="alert"><%= alert %></p> <% end %>

    <div class='links'>
      <% if devise_controller? %>
        <%= render "devise/shared/links" %>
      <% elsif signed_in? %>
        <b><%= current_user.full_name %></b> | <%= link_to 'Sign Out', destroy_user_session_path %>
      <% end %>
    </div>

    <%= yield %>

  </div>

  <div id='footer'>
    Test Project by Sergii Naumenko | <a href='/api_help.html'>API Help</a>
  </div>

</body>
</html>
